<h1>Listing articles</h1>

<table>
  <thead>
    <tr>
      <!-- DVO -->
      <th>Id</th>
      <th>Price</th>
      <th>Title</th>
      <th>Description</th>
      <!-- DVO -->
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <!-- DVO -->
        <td><%= article.id %></td>
        <td><%= article.price %>$</td>
        <td><%= article.title %></td>
        <td><%= article.description %></td>
        <!-- DVO -->
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
