<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :client_name %><br>
    <%= f.text_field :client_name %>
  </div>
  <div class="field">
    <%= f.label :shipping_address %><br>
    <%= f.text_area :shipping_address %>
  </div>

  <div class="field">
  <%# =f.label :title %>  
  <%#= collection_select :order_line,:article_id,Article.all,:id,:title,prompt: true %> 
  
  <%# @order.order_lines.each do |order_lines| %>
    <%= f.fields_for :order_lines do |order_line_fields| %>
      <!-- render partial -->
      <%=render 'order_line_partial', :f => order_line_fields %>
    <% end %>
    <br/> 
  <%# end %> 
  </div>
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
