
	  <p class="fields">
        <%= f.collection_select :article_id, Article.all, :id, :title %>
        <%= f.text_field :quantity %>
        <%#= f.check_box :_destroy %>
        <%#= f.label :_destroy, "Remove-functional" %>
        <%= f.hidden_field :_destroy %>
        <%= link_to_function "remove-non-functional", "remove_fields(this)" %>
      </p