<h1>Listing orders</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Client name</th>
      <th>Shipping address</th>
      <th>Order Lines</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.client_name %></td>
        <td><%= order.shipping_address %></td>
        <td>
            <% order.order_lines.each do |order_line| %>
               <%= order_line.article.title %>
               <%= order_line.article.description %>
               <%= order_line.quantity %>
               <%= order_line.article.price %> <br/>
            <% end %>
        </td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
