<p id="notice"><%= notice %></p>

<p>
  <strong>Client name:</strong>
  <%= @order.client_name %>
</p>

<p>
  <strong>Shipping address:</strong>
  <%= @order.shipping_address %>
</p>

<p>
   <div class="span8">
    <% if @order.order_lines.any? %>
      <h3>Number of order_lines: <%= @order.order_lines.count %></h3>
      <ol class="order_lines">
      	<% @order.order_lines.each do |order_line| %>
      		<li>
		   		 <%= order_line.article.title %>
		   		 <%= order_line.article.description %>
		   		 <%= order_line.quantity %>
		   		 <%= order_line.article.price %> 
		   	</li>	 
	  	<% end %>
	  </ol>	
    <% end %>
  </div>

</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
